*{
    text-align: center;
    background-color: rgb(248, 238, 226);
    font-family: 'Righteous', cursive;
}

div{
    width: 350px;
    margin: auto;

}

.resposta{
    margin-top: 40px;
    height: 180px;
    text-align: center;

}
h2, #btnEnviar {
    background-color: burlywood;
    border-radius: 10px;
}
h2{
    height: 50px;
    padding: 20px;
}
.controle{
    margin-top: 10px;
}